@model CamposProject.Entidades.Venda

@{
    ViewData["Title"] = "Cadastrar nova venda";
}

<h1>Cadastrar nova venda</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdVenda" class="control-label"></label>
                <input asp-for="IdVenda" class="form-control" />
                <span asp-validation-for="IdVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cliente</label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Produto</label>
                <select asp-for="IdProduto" class ="form-control" asp-items="ViewBag.IdProduto"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Quantidade de produtos</label>
                <input asp-for="QtdVenda" class="form-control" />
                <span asp-validation-for="QtdVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Valor unitário</label>
                <input asp-for="VlrUnitarioVenda" class="form-control" />
                <span asp-validation-for="VlrUnitarioVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data</label>
                <input asp-for="DthVenda" class="form-control" />
                <span asp-validation-for="DthVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
