@model CamposProject.Entidades.Produto

@{
    ViewData["Title"] = "Excluir";
}


<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Descrição do produto 
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DscProduto)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProduto" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
